@model eCommerce.Models.ProductModelView
<!--<link rel="stylesheet" type="text/css" href="./../../wwwroot/css/product.css">-->

<h1> Welcome to the product page </h1> 
<div id = "LeftProduct">
    <form method = "post" action = "searchfilter">
        <input type = "text" placeholder = "search" name = "searchword"> 
        <input type = "submit" value = "Filter">
    </form> 
    <u> Add A New Product </u> 
    <form asp-controller="Product" asp-action="productadd" method="post">
    <label asp-for="ProductName"></label>
    <input asp-for="ProductName"/>
    <span asp-validation-for="ProductName"></span>
        
    <label asp-for="ImgSrc"></label>
    <input value = "http://" asp-for="ImgSrc"/>
    <span asp-validation-for="ImgSrc"></span>
        
    <label asp-for="Description"></label>
    <input asp-for="Description"/>
    <span asp-validation-for="Description"></span>
        
    <label asp-for="Quantity"></label>
    <input asp-for="Quantity"/>
    <span asp-validation-for="Quantity"></span>
        
    <label asp-for="Price"></label>
    <input asp-for="Price"/>
    <span asp-validation-for="Price"></span>
    <input type = "submit" value = "Add Product">
    </form> 
 </div> 
 <div id = "RightProduct">
    <div id = "RightProductPictures">